<!DOCTYPE html>
<html>

<head>
  <title>XLSX File Upload</title>
</head>

<body>

  <% if(err){ %>
    <h1 style="color: red;">
      <%= err %>
    </h1>
  <% } else { %>
    <form method="POST" action="/result">
      <input type="hidden" name="filename" value="<%= filename %>" />
      <h1>Select Columns For Micro</h1>
      <ul>
        <% columns.forEach(function(column) { %>
          <li>
            <input type="checkbox" name="column" value="<%= column %>">
            <%= column %>
          </li>
        <% }) %>
      </ul>
      <input type="submit" value="submit">
    </form>
  <% } %>
</body>

</html>