<!DOCTYPE html>
<html>

<head>
	<title>XLSX File Upload</title>
</head>

<body>
	<h1>XLSX Upload</h1>

	<form action="/columns"
	enctype="multipart/form-data" method="POST">
	
		<span>Upload:</span>
		<input type="file" name="myfile" required/> <br>
		<input type="submit" value="submit">
	</form>
</body>

</html>
