<!DOCTYPE html>
<html>

<head>
	<title>XLSX File Upload</title>
</head>

<body>
    <a href="/">Home</a>
    <% if(err){ %>
	    <h1 style="color: red;"><%= err %></h1>
    <% } else { %>
        <h1>Success, uploaded and <a href="<%= filename %>">donload</a>!</h1>
    <% } %>
</body>

</html>
